@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
html {
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(to bottom, #222 0%, #111 100%) !important;
  background-attachment: fixed;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.8em;
}
h1 {
  font-size: 2em;
  margin-top: 0.67em;
}
h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
}
h3 {
  font-size: 1.17em;
  margin-top: 1em;
}
h4 {
  font-size: 1em;
  margin-top: 1.33em;
}
h5 {
  font-size: 0.83em;
  margin-top: 1.67em;
}
h6 {
  font-size: 0.75em;
  margin-top: 2.33em;
}
a {
  color: #7986cb;
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  color: #ff9800;
}
.text-center {
  text-align: center;
}
.index h2 {
  margin: 20px;
}
.index p {
  margin: 20px;
  color: #ccc;
}
.header {
  background-image: linear-gradient(to bottom, #1f1f1f 0%, #1a1a1a 100%);
  border-bottom: 1px solid #111 !important;
  color: #fff;
  overflow: auto;
}
.header img {
  height: 22px;
  padding-top: 12px;
  float: left;
}
.header a {
  color: #7986cb;
  text-decoration: none;
  display: block;
  padding: 10px 6px;
  float: left;
}
.header a.active {
  color: #ff9800;
}
.header a.gh-link {
  display: none;
  float: right;
}
.creep-designer {
  margin: 0 auto;
}
.creep-designer .panel {
  width: 94vw;
  margin: 0;
  margin-left: 15px;
  float: left;
  background-color: #222;
  color: #ccc;
  box-sizing: border-box;
  padding: 10px;
}
.creep-designer .panel #creep-body {
  position: relative;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 45px;
  min-height: 45px;
  max-height: 205px;
  margin-top: 20px;
}
.creep-designer .panel table.stats {
  width: 100%;
}
.creep-designer .panel table.stats td {
  padding: 2px 4px;
}
.creep-designer .panel svg {
  display: block;
  margin: 0 auto;
}
.creep-designer .panel textarea {
  width: 100%;
  height: 50px;
}
.creep-designer .panel table.body {
  width: 100%;
  border-collapse: collapse;
}
.creep-designer .panel table.body button {
  background-color: #404040;
  color: #eee;
  border: 1px solid #666;
  padding: 4px 4px 3px;
  outline: none;
  margin: 0 1px;
}
.creep-designer .panel table.body button:hover {
  cursor: pointer;
  background-color: #3f51b5;
}
.creep-designer .panel table.body select,
.creep-designer .panel table.body input {
  color: #010101;
  font-size: 14px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #666;
  padding: 3px;
  margin: 0 1px;
}
.creep-designer .panel table.body input {
  width: 40px;
}
.creep-designer .panel table.body select {
  width: 80px;
}
.creep-designer .panel table.body tbody tr.active-parts {
  background-color: #fff18d;
  color: #444;
}
.creep-designer .panel table.body tbody tr.active-parts td.count {
  background-color: #222;
}
.creep-designer .panel table.body tbody tr td {
  padding: 3px 8px;
}
.creep-designer .panel table.body tbody tr td.sum {
  text-align: right;
}
.creep-designer .panel table.body tbody tr td.sum.total {
  font-weight: bold;
  background-color: #f88;
  color: #222;
}
.creep-designer .creepFunctions {
  display: block;
  float: left;
  width: 40%;
  margin-top: 0;
  margin-left: 5px;
}
.creep-designer .creepFunctions .yes {
  color: #27ae60;
}
.creep-designer .creepFunctions .no {
  color: #c0392b;
}
.buildingPlanner {
  width: 97vw;
  margin: 0 auto;
}
.buildingPlanner .rampart {
  background-color: #314b31 !important;
  border-color: #438643 !important;
}
.buildingPlanner .controls {
  width: 47vw;
  margin: 0;
  float: left;
  background-color: #222;
  color: #ccc;
  box-sizing: border-box;
  padding: 10px;
}
.buildingPlanner .controls .half-col {
  display: inline-block;
  width: 50%;
  margin-bottom: 10px;
}
.buildingPlanner .controls .half-col:last-child {
  text-align: end;
}
.buildingPlanner .controls .brushes {
  cursor: pointer;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.buildingPlanner .controls .brushes li {
  position: relative;
  background-color: #333;
  padding: 5px;
  line-height: 25px;
}
.buildingPlanner .controls .brushes li span {
  float: right;
}
.buildingPlanner .controls .brushes li img {
  width: 24px;
  vertical-align: top;
}
.buildingPlanner .controls .brushes li.active {
  background-color: #404040;
}
.buildingPlanner .controls .brushes li:hover,
.buildingPlanner .controls .brushes li.active:hover {
  background-color: #555;
}
.buildingPlanner .controls .brushes li.disabled {
  color: #666 !important;
  background-color: #333;
}
.buildingPlanner .controls .brushes li.disabled:hover {
  background-color: #363636;
}
.buildingPlanner .controls .brushes li.disabled img {
  opacity: 0.3;
}
.buildingPlanner .controls button {
  padding: 3px 7px;
}
.buildingPlanner .controls input,
.buildingPlanner .controls select,
.buildingPlanner .controls textarea {
  border: 1px solid #ccc;
  padding: 3px;
}
.buildingPlanner .controls #room {
  width: 105px;
}
.buildingPlanner .controls #shard,
.buildingPlanner .controls #load-terrain {
  width: 113px;
  cursor: pointer;
}
.buildingPlanner .controls textarea {
  position: relative;
  width: 95%;
  min-width: 95%;
  max-width: 95%;
  height: 45px;
  min-height: 45px;
  max-height: 397px;
}
.buildingPlanner .map {
  margin: 1vw;
  overflow: hidden;
  float: left;
  width: 94vw;
  height: 94vw;
  border: 1px solid rgba(15, 15, 15, 0.65);
}
.buildingPlanner .map .row {
  width: 100%;
  height: 2%;
  overflow: hidden;
}
.buildingPlanner .map .row .cell {
  position: relative;
  width: 2%;
  height: 100%;
  float: left;
  border: 1px solid rgba(15, 15, 15, 0.65);
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-size: contain;
  background-color: #222;
  box-sizing: border-box;
}
.buildingPlanner .map .row .cell img,
.buildingPlanner .map .row .cell svg {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
.buildingPlanner .map .row .cell img {
  z-index: 50;
}
.buildingPlanner .map .row .cell svg {
  z-index: 40;
}
.buildingPlanner .map .row .cell.wall {
  background-color: #000;
  border: 1px solid #000;
}
.buildingPlanner .map .row .cell.swamp {
  background-color: #292b18;
}
.buildingPlanner .map .row .cell.hover {
  background-color: #555;
  border-color: #555;
}
.buildingPlanner .map .row .cell.hover.wall {
  background-color: #383838;
  border-color: #383838;
}
.buildingPlanner .map .row .cell.hover.swamp {
  background-color: #444638;
  border-color: #444638;
}
@media only screen and (min-width: 768px) {
  .header a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .header a.gh-link {
    display: block;
  }
}
@media only screen and (min-width: 900px) {
  .header a {
    padding-left: 10px;
    padding-right: 10px;
  }
  .buildingPlanner .map {
    width: 70vw;
    height: 70vw;
  }
  .buildingPlanner .controls {
    width: 23vw;
  }
}
@media only screen and (min-width: 1120px) {
  .creep-designer {
    width: 1105px;
  }
  .creep-designer .panel {
    width: 48%;
  }
  .buildingPlanner {
    width: 1100px;
  }
  .buildingPlanner .map {
    width: 750px;
    height: 750px;
  }
  .buildingPlanner .controls {
    width: 290px;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 1440px) {
  .creep-designer {
    width: 1420px;
  }
  .buildingPlanner {
    width: 1420px;
  }
  .buildingPlanner .map {
    width: 750px;
    height: 750px;
  }
  .buildingPlanner .controls {
    width: 290px;
  }
}
