@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
  height:100%;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin:0px;
  padding:0px;
  background-image:linear-gradient(to bottom, #222 0%, #111 100%) !important;
  background-attachment: fixed;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.8em;
}

h1{
  font-size: 2em;
  margin-top: 0.67em;
}
h2{
  font-size: 1.5em;
  margin-top: 0.83em;
}
h3{
  font-size: 1.17em;
  margin-top: 1em;
}
h4{
  font-size: 1em;
  margin-top: 1.33em;
}
h5{
  font-size: 0.83em;
  margin-top: 1.67em;
}
h6{
  font-size: 0.75em;
  margin-top: 2.33em;
}

a{
  color: rgb(121,134,203);
  text-decoration: none;
  transition: color 0.2s;

  &:hover{
    color:#FF9800;
  }
}

.header{
  background-image: linear-gradient(to bottom, #1f1f1f 0%, #1a1a1a 100%);
  border-bottom: 1px solid #111 !important;
  color: #fff;
  overflow:auto;

  img{
    height:30px;
    padding-top:10px;
    float:left;
  }

  a{
    color: rgb(121,134,203);
    text-decoration: none;
    display:block;
    padding:10px;
    float: left;

    &.active{
      color:#FF9800;
    }

    &.gh-link{
      float:right;
    }
  }
}

.creep-designer, .memory-viewer{
  .panel{
    width:575px;
    margin:10px 0 10px 15px;
    float:left;
    background-color:#222;
    color:#ccc;
    box-sizing: border-box;
    padding:10px;

    #creep-body {
      width: 550px;
      min-width: 550px;
      max-width: 550px;
      height: 45px;
      min-height: 45px;
      max-height: 425px;
      margin-top: 20px;
    }

    table.stats {
      width: 100%;
    }

    button{
      background-color: rgb(63,81,181);
      color: #fff;
      border: 0;
      padding: 3px 5px;
    }

    svg{
      float: right;
    }

    textarea{
      width:100%;
      height:50px;
    }

    .body{
      float:left;

      tbody{
        tr{
          td:nth-of-type(2){
            text-align:center;

            input{
              color: #010101;
              text-align: center;
              width: 38px;
              background-color: #fff;
              border:1px solid #ccc;
              padding: 2px;
            }
          }

          td:nth-of-type(3){
            text-align: right;
          }
        }
      }
    }
  }

  .creepFunctions{
    display: inline-block;
    float: left;
    width: 220px;
    margin-left: 5px;

    .yes{
      color:#27ae60;
    }
    .no{
      color:#c0392b;
    }
  }
}

.buildingPlanner{
  .spawn{
    background-image: url(/img/screeps/spawn.png);
  }

  .extension{
    background-image: url(/img/screeps/extension.png);
  }

  .link{
    background-image: url(/img/screeps/link.png);
  }

  .road{
    background: radial-gradient(ellipse at center, #4e4e4e 0%,#4e4e4e 20%,#222 21%,#222 100%) !important;
  }

  .constructedWall{
    background-image: url(/img/screeps/constructedWall.png);
  }

  .rampart{
    background-color:#314b31 !important;
    border-color: #2d632d !important;
  }

  .tower{
    background-image: url(/img/screeps/tower.png);
  }

  .observer{
    background-image: url(/img/screeps/observer.png);
  }

  .powerSpawn{
    background-image: url(/img/screeps/powerSpawn.png);
  }

  .extractor{
    background-image: url(/img/screeps/extractor.png);
  }

  .terminal{
    background-image: url(/img/screeps/terminal.png);
  }

  .lab{
    background-image: url(/img/screeps/lab.png);
  }

  .container{
    background-image: url(/img/screeps/container.png);
  }

  .nuker{
    background-image: url(/img/screeps/nuker.png);
  }

  .storage{
    background-image: url(/img/screeps/storage.png);
  }

  .controls{
    width: 300px;
    margin: 0 15px 0 0;
    float:left;
    background-color:#222;
    color:#ccc;
    box-sizing: border-box;
    padding:10px;

    .half-col{
      display: inline-block;
      width: 50%;
      margin-bottom: 10px;
    }

    .brushes{
      cursor: pointer;
      list-style:none;
      margin:0px;
      padding:0px;

      li{
        position: relative;
        border:1px solid #ccc;
        padding:5px;
        line-height: 25px;

        span{
          float: right;
        }

        img{
          width:24px;
          vertical-align: top;
        }

        &:hover{
          background-color:#333;
        }

        &.active{
          border-color:#ffe56d;
          background-color: #282828;
        }
      }
    }

    button{
      padding: 3px 7px;
    }
    input,
    select,
    textarea{
      border: 1px solid #ccc;
      padding: 3px;
    }
    #room{
      width: 105px;
    }
    #shard, 
    #load-terrain{
      width: 113px;
    }
    textarea{
      width: 270px;
      min-width: 270px;
      max-width: 270px;
      height: 45px;
      min-height: 45px;
      max-height: 205px;
    }
  }

  .map{
    margin: 10px;
    overflow: hidden;
    float: left;
    width: 800px !important;
    height: 800px !important;
    background: #111;
    padding: 1px;

    .row{
      width: 100%;
      height: 2%;
      overflow: hidden;

      .cell{
        width:2%;
        height:100%;
        float:left;
        
        border:1px solid #000000;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        background-size:contain;
        background-color: #222;
        box-sizing: border-box;
  
        &.wall{
          background-color: #000;
        }
  
        &.swamp{
          background-color: #292b18;
        }
  
        &.hover{
          border-color:#f1c40f;
        }
      }
    }
  }
}

.console-viewer{
  .console{
    float: left;
    width: 70%;
    margin-left: 20px;
    background-color:#222;
    color:#ccc;
    box-sizing: border-box;
    padding:10px;

    .message{
      border-bottom:#000 solid 1px;
      padding: 20px;
    }
  }

  .options{
    margin-left: 20px;
    float:left;
    width: 20%;
    background-color:#222;
    color:#ccc;
    box-sizing: border-box;
    padding:10px;
    position: fixed;
    left:75%;

    ul{
      .active{
        color: #27ae60;
      }
    }
  }
}

.index{
  h2{
    margin:20px;
  }

  p{
    margin:20px;
    color:#ccc;
  }
}